/*Overrides for Tailwind CSS */

/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
    color: #4a5568;
    /*text-gray-700*/
    padding-left: 1rem;
    /*pl-4*/
    padding-right: 1rem;
    /*pl-4*/
    padding-top: 0.5rem;
    /*pl-2*/
    padding-bottom: 0.5rem;
    /*pl-2*/
    line-height: 1.25;
    /*leading-tight*/
    border-width: 2px;
    /*border-2*/
    border-radius: 0.25rem;
    border-color: #edf2f7;
    /*border-gray-200*/
    background-color: #edf2f7;
    /*bg-gray-200*/
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;
    /*bg-indigo-100*/
}

/*Row Hover*/
.dark table.dataTable.hover tbody tr:hover,
.dark table.dataTable.display tbody tr:hover {
    background-color: #425770;
    /*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    border: 1px solid transparent;
    /*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #fff !important;
    /*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /*shadow*/
    font-weight: 700;
    /*font-bold*/
    border-radius: 0.25rem;
    /*rounded*/
    background: #667eea !important;
    /*bg-indigo-500*/
    border: 1px solid transparent;
    /*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;
    /*border-b-1 border-gray-300*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
.dark #table_data_filter input{
    background-color: #1D2A39;
    border-color: #3D4D60;
    color: gray;
}

.dark #table_data2_filter input{
    background-color: #1D2A39;
    border-color: #3D4D60;
    color: rgb(190, 190, 190);
}

.dark #deleteItems, .dark #restoreItems{
    background-color: #1D2A39;
    border-color: #3D4D60;
    color: rgb(190, 190, 190);
}
#table_data_length select, #table_data2_length select{
    width: 60px;
}

#restoreItems, #deleteItems{
    padding-right: 35px;
}

/* =================INPUT TAGS================= */
.dark .ck-toolbar__items{
    background-color: #1D2A39 !important;
    border-color: gray !important;
}
.dark .ck-button__icon, .dark .ck-dropdown__button{
    color: white !important;
}
.dark .ck-off:hover, .dark .ck-off:hover{
    background-color: #50637b !important;
}
.dark .ck-content{
    background-color: #1D2A39 !important;
    border-color: gray !important;
}
.dark .ck-toolbar{
    border-color: gray !important;
    background-color: #1D2A39 !important;
}
/* =================PARA TAGS================= */
.content-tag ul{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}
.content-tag ul  li{
    color: #333;
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #F2F2F2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3e1e1;
}
.content-tag ul li i{
    height: 20px;
    width: 20px;
    color: #808080;
    margin-left: 8px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
}
.content-tag ul input{
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}